#共通無視フォルダ
[Dd]ebug/
[Rr]elease/
packages/
Library/
Project/
x64/
.vs/

#共通無視拡張子
*.tlog
*.obj
*.pdb
*.ilk
*.idb
*.log
*.ipch
*.opendb
*.db
*.suo
*.inc
*.gltf
*.png
*.bin
*.blend

imgui.ini

# Asset フォルダはGitで管理する（上の *.gltf / *.png / *.bin などの除外を Asset 内だけ解除）
!Asset/**
